<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DateIn</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/normalize.css'%}">
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>

<body>
  <header>
    <div class="header container">
      <ul class="menu">
        <li class="menu_item">
          <a id="menu1" class="menu_link btn" href="about">О нас</a>
        </li>
      </ul>
    </div>
  </header>
  <section>
    <div class="main container">
      <p class="text">Написать что-то красивое)</p>
      <div class="logo">
        <a class="logo_link" href="#"></a>
      </div>
      <ul class="messenger">
        <li class="messenger_item">
          <a class="messenger_link vk" href="#"></a>
        </li>
        <li class="messenger_item">
          <a class="messenger_link telegramm" href="#"></a>
        </li>
      </ul>
    </div>
  </section>
</body>

</html>