<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DateIn</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/normalize.css'%}">
  <link rel="stylesheet" href="{% static 'css/stylestext.css'%}">
</head>

<body>
  {% include 'headerinfo.html' %}
  <section>
    <div class="main container">
      <h1>{{ name }}</h1>
      {% include infotemp %}
    </div>
  </section>
</body>

</html>