<h2>1. Сервис</h2>
<p>1.1. Использование сервиса допустимо исключительно лицами, достигшими 14 лет</p>
<p>1.2. Запрещено использование сервиса в целях рекламы или других коммерческих целях</p>
<h2>2. Фотографии</h2>
<p>2.1. Недопутимы фотографии откровенного характера</p>
<p>2.2. Недопустимы чужие фотографии</p>
<p>2.3. Недопустимы фотографии, на которых не видно тебя :)</p>
<h2>3. Описания, в том числе дополнительные</h2>
<p>3.1. Нежелательны описания, содержащие большое количество нецензурной лексики</p>
<p>3.2. Недопустимы описания, содержащие призывы к незаконным действиям</p>
<p>3.3. Недопустимы описания, содержащие призывы к употреблению табака/алкоголя/наркотических веществ</p>