:root {
  --main-color: #333;
  --light-color: #fff;
  --background-color: #f4f4f4;

  --date-color: #683095;
  --date-light-color: #a455ec;
}

@font-face {
  font-family: "SofiaSans";
  src: local("SofiaSans-Italic"),
    url("../fonts/SofiaSans-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "SofiaSans";
  src: local("SofiaSans-Regular"),
    url("../fonts/SofiaSans-Regular.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "SofiaSans";
  color: var(--main-color);
  background-color: var(--light-color);
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  padding: 3%;
  width: 100%;
}

section {
  min-height: 93vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--date-color);
  font-weight: 800;
  font-size: 48px;
  font-style: italic;
  margin: 10px;
}

h2 {
  color: var(--date-color);
  font-weight: 400;
  font-size: 28px;
  font-style: normal;
  margin: 10px;
}

h3 {
  font-weight: 200;
  font-size: 24px;
  font-style: normal;
  margin: 8px;
}

p {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  margin: 3px;
}